@import "../../theme/variables.scss";

.login {
    padding-top: 50px;
    .wrap {
        width: 30%;
        margin: 0 auto;
    }
    h1 {
        color: #1fa67b;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    .form-control {
        color: #212121;
    }
}

